.statistics {
    display: grid;
    grid-template-columns: 2fr 5fr 7.5fr;
    grid-template-rows: 1fr 22fr;
    padding: 2.5%;
    gap: 20px;
    height: 70%;
    padding-top: 27vh;

}

.statistics .hero-select {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


.statistics .select-hero-menu .buttons button, .change-hero-btn {
    font-size: 1.35rem;
    font-weight: 900;
    padding: 13px 30px;
    border-radius: 2px;
    border: 0;
    letter-spacing: 1px;
    cursor: inherit;
}

.statistics .select-hero-menu .buttons button:hover, .change-hero-btn:hover {
    outline: 2px solid white;
    transform: scale(1.03);
}

.statistics .select-hero-menu .buttons button.all-heroes, .change-hero-btn {
    color: white;
    background-color: #f06414;
}

.change-hero-btn {
    padding: 0;
    height: 50px;
    width: 100%;
}
.statistics .main-stats {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.statistics .all-stats {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-right: 20px;
}

.statistics .all-stats div.table-header {
    background-color: #363e4e;
    color: white;
    margin-bottom: 4px;
}

.statistics .all-stats .table-rows {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.statistics .all-stats .table-row {
    border-radius: 3px;
    display: grid;
    grid-template-columns: 2.4fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 18px;
    padding: 5px 0;
    padding-left: 15px;
    color: black;
    background-color: white;
}

.statistics .all-stats .table-row h4:not(.stat) {
    text-align: center;
}

.statistics .main-stats .main-stats-card {
    background-color: #343c4d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.statistics .main-stats .main-stats-card .card-logo {
    margin-bottom: 10px;
}

.statistics .main-stats .main-stats-card .card-value {
    color: #24dbdb;
    font-size: 2vw;
    font-size: clamp(32px, 3vw, 48px);
    margin-bottom: 15%;
    font-weight: 100;
    text-align: center;
}

.statistics .main-stats .main-stats-card .card-desc {
    color: white;
    font-weight: 100;
    font-size: 1.1rem;
    text-align: center;
} 

.statistics .hero-logo {
    width: 100%;
    border-radius: 5px;

}

@media (max-width: 1100px) {
    .statistics {
        display: flex;
        flex-direction: column;
    }

    .statistics .hero-select {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    } 

    .statistics .hero-logo {
        width: 200px;
    }
    
    .statistics .change-hero-btn {
        width: 200px;
    }

    .statistics .all-stats {
        margin: 0;
        padding-bottom: 20px;
    }
    .statistics .overview_mode_dropdown {
        align-self: center;
    }
}