.overview {
    padding: 3rem;
    display: grid;
    column-gap: 1.5vw;
    row-gap: 0.5rem;
    grid-template-rows: 1fr 21.5fr 300px;
    grid-template-columns: 1fr 2fr 2fr;
    padding-top: 27vh;
}

@media (max-width: 1100px) {
    .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
