.overview_time-played {
    background-image: url('../../assets/overview_time_played.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    grid-row: 2 / 4;
    padding: 0 1.5rem;
    width: 100%;
}

.overview_time-played-bar {
    background-color: #404656;
    height: 2.5rem;
    margin-bottom: 9px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 17.5px;
    position: relative;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.overview_time-played-mode {
    position: relative;
    z-index: 5;
}

.overview_mode-logo {
    height: 70%;
    margin-left: 8px;
    z-index: 5;
}

.overview_time-played-hours {
    flex-grow: 1;
    text-align: right;
    margin-right: 10px;
    z-index: 5;
}

.overview_time-played-fill {
    z-index: 1;
    position: absolute;
    height: 100%;
    border-radius: 5px;
}

.overview_time-played-fill-competitive {
    background-color: #df4069;
}

.overview_time-played-fill-unranked {
    background-color: #05a0fa;
}

.overview_time-played-fill-arcade {
    background-color: #00ba00;
}

.overview_time-played-fill-gameBrowser {
    background-color: #bf41e6;
}

.overview_time-played-fill-experimental {
    background-color: #a95541;
}

.overview_overall-hours-circle {
    text-align: center;
    font-weight: 500;
    margin-top: 40%;
    padding-bottom: 110px;
}

.overview_overall-hours {
    letter-spacing: 1px;
    color: #1cefef;
    font-weight: 500;
    font-size: 165%;
}

.overview_overall-hours-text {
    color: #e9e9ea;
    font-size: 105%;
    font-weight: 300;
    padding-bottom: 4px;
}

.overview_time-played-hours-numbers {
    letter-spacing: 2px;
}

@media (max-width: 1100px) {
    .overview_time-played {
        display: none;
    }
}
