* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Schnaubelt, Arial, Helvetica, sans-serif;
}

font-face {
  font-family: Schnaubelt;
  src: url('./assets/fonts/Schnaubelt.otf');
}

body, html {
  height: 100%;
  cursor: url('./assets/cursor.png'), auto;
}

.container {
  background-image: url('./assets/background.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

p, h1, h2, h3, h4, h5, h6, li {
  transform: scale(1, 1.05)
}

.navbar {
  height: 23.7vh;
}

main {
  height: 76.3vh;
  width: 100%;
}

li {
  list-style: none;
}