.navbar {
    width: 100vw;
    height: 23.7vh;
    background-color: #3b486d;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 3rem;
    padding-bottom: 2.3rem;
    padding-top: 2vh;
    position: fixed;
}

nav.navbar .nav-links {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    /* background-color: #171d33; */
    list-style-type: none;
    border-radius: 5px;
}

.navbar .nav-links li {
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0.6rem 1.8rem;
    font-weight: 900;
    border-radius: 2px;
    margin: 6px 3px;
    box-sizing: border-box;
    background-color: #171d33;
}

.navbar .nav-links li:hover {
    outline: 2px solid #1defef;
    background-color: rgba(29, 239, 239, 0.3);
}

.navbar li.current-tab {
    background-color: #1defef;
    color: #171d33;
}

.navbar li.current-tab:hover {
    background-color: #1defef;
    color: #171d33;
    outline: 0;
}

.navbar .player-settings {
    display: flex;
    justify-self: flex-end;
    grid-column: 2;
    width: 400px;
}

.navbar .player-settings .endorsement-level, .navbar .player-settings .player-profile-title, .navbar .player-settings .player-profile-title-small {
    display: none;
}

.navbar .small-player {
    flex-grow: 3;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.navbar .small-player-name {
    font-size: 1.1rem;
    letter-spacing: 0.6px;
    color: rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.navbar .small-player-line {
    outline: 1px solid #676e85;
    height: 90%;
    width: 0;
}

.navbar .top-right_icons {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.navbar .social-logo, .navbar .settings-logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 2px;
}
    
.navbar .social-logo img {
    height: 50px;
}

.navbar .settings-logo img {
    height: 40px;
    filter: invert(1);
}

.navbar .social-logo {
    background-color: #f9f9fa;
    margin-left: 8px;
    position: relative;
}

.navbar .settings-logo {
    background-color: #e96321;
    margin-left: 5px;
    position: relative;
}

.navbar .small-player-hover, .navbar .social-logo-hover, .navbar .settings-logo-hover {
    position: absolute;
    font-size: 1rem;
    background: #283049;
    border: 3px solid #555b71;
    padding: 4px 12px;
}

.navbar .small-player-hover, .navbar .social-logo-hover, .navbar .settings-logo-hover {
    bottom: -2.5rem;
    display: flex;
    align-items: center;
    opacity: 0;
}

.navbar .small-player:hover .small-player-hover {
    opacity: 1;
}

.navbar .small-player-hover-name {
    color: white;
    font-weight: lighter;
}

.navbar .small-player-hover-btag-nums {
    color: #0291fd;
    font-weight: 700;
    font-size: 1.1rem;
}
.navbar .social-logo-hover, .navbar .settings-logo-hover {
    color: white;
}

.navbar .social-logo:hover .social-logo-hover, .settings-logo:hover
.settings-logo-hover {
    opacity: 1;
}

.navbar .social-logo:hover, .navbar .settings-logo:hover {
    outline: 2px solid white;
}

.navbar .player-profile {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    display: flex;
    gap: 2rem;
}

.navbar .player-profile-logo {
    margin-top: -0.6rem;
    border: 5px solid white;
    border-radius: 5px;
}

.navbar .player-profile-name {
    font-size: 70px;
    font-weight: 100;
    font-style: oblique;
    color: white;
    margin-top: -10px;
    letter-spacing: 1px;
    font-family: 'Overwatch', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar .player-profile-title {
    color: #1defef;
    font-style: italic;
    font-weight: 100;
    font-size: 32px;
    margin-top: -12px;
}

.player-profile-title-small {
    color: #1defef;
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    margin-top: -12px;
}

.navbar .player-profile .endorsement-level {
    align-self: flex-start;
    margin-top: -8px;
    
}
.navbar .player-profile .endorsement-level img {
    height: 70px;
    width: 70px;
}

.navbar .player-profile_line {
    height: 120%;
    margin: 0 6px;
    width: 0;
    outline: 1px solid #676e85;
}

.navbar .player-profile_level {
    background-image: url("./assets/icons/level_icon.png");
    width: 3.5rem;
    height: 3.8rem;
    font-size: 1.6rem;
    color: #b4c2c7;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-left: 12px;
}

@media (max-width: 870px) {
    .navbar .player-settings {
        width: 100%;
        justify-self: center;
        grid-column: 1 / -1;
        grid-row: 1;
        margin-bottom: 5px;
    }

    .navbar .player-settings .endorsement-level, .navbar .player-settings .player-profile-title, .navbar .player-settings .player-profile-title-small {
        display: block;
    }
    
    .player-settings .player-profile-title {
        font-weight: 600;
        font-size: 20px;
        margin-top: 0;
    }

    .navbar .player-settings .endorsement-level img {
        height: 40px;
    }

    nav.navbar .nav-links {
        justify-self: center;
        grid-row: 2;
        grid-column: 1 / -1;
        margin-bottom: 5px;
    }
    
    .navbar .player-profile {
        display: none;
    }
}