.navbar {
    width: 100vw;
    height: 23.7vh;
    background-color: #3b486d;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 3rem;
    padding-bottom: 2.3rem;
    position: relative;
}


nav.navbar .nav-links {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    background-color: #171d33;
    list-style-type: none;
    border-radius: 5px;
}

.navbar .nav-links li {
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0.6rem 1.8rem;
    font-weight: 900;
    border-radius: 2px;
    margin: 6px 3px;
    box-sizing: border-box;
    
}

.navbar .nav-links li:hover {
    outline: 2px solid #1defef;
    background-color: rgba(29, 239, 239, 0.3);
}

.navbar li.current-tab {
    background-color: #1defef;
    color: #171d33;
}

.navbar li.current-tab:hover {
    background-color: #1defef;
    color: #171d33;
    outline: 0;
}

.navbar .small-player {
    grid-column: 8 / -1;
    grid-row: 1;
    height: 60px;
    width: 60%;
    margin-left: 40px;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.navbar .small-player-name {
    font-size: 1.1rem;
    letter-spacing: 0.6px;
    color: rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.navbar .small-player-line {
    outline: 1px solid #676e85;
    height: 90%;
    width: 0;
}

.navbar .top-right_icons {
    display: flex;
    align-items: center;
    margin-left: 1.65rem;
    grid-column: 11 / 13;
    grid-row: 1;
    margin-left: 49px;
}

.navbar .social-logo, .navbar .challenges-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 56px;
    border-radius: 2px;
}
    
.navbar .social-logo img {
    height: 50px;
}

.navbar .challenges-logo img {
    height: 54px;
}

.navbar .social-logo {
    background-color: #f9f9fa;
    margin-left: 8px;
}

.navbar .challenges-logo {
    background-color: #e96321;
    margin-left: 5px;
}

.navbar .small-player-hover, .navbar .social-logo-hover, .navbar .challenges-logo-hover {
    position: absolute;
    font-size: 1rem;
    background: #283049;
    border: 3px solid #555b71;
    padding: 4px 12px;
}

.navbar .small-player-hover {
    right: 17rem;
    top: 7.2rem;
    gap: 0.3rem;
    display: flex;
    align-items: center;
    opacity: 0;
}

.navbar .social-logo-hover, .navbar .challenges-logo-hover {
    color: white;
    display: none;
}

.navbar .social-logo:hover + .social-logo-hover, .challenges-logo:hover +
.challenges-logo-hover {
    display: block;
}

.navbar .social-logo:hover, .navbar .challenges-logo:hover {
    outline: 2px solid white;
    /* outline-offset: 1px; */
}


.navbar .social-logo-hover {
    top: 7.2rem;
    right: 5rem;
}

.navbar .challenges-logo-hover {
    top: 7.2rem;
    right: 0.4rem;
}

.navbar .small-player-hover-name {
    color: white;
    font-weight: lighter;
}

.navbar .small-player-hover-btag-nums {
    color: #0291fd;
    font-weight: 700;
    font-size: 1.1rem;
}

.navbar .small-player:hover + .small-player-hover {
    opacity: 1;
}

.navbar .player-profile {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    display: flex;
    gap: 2rem;
}

.navbar .player-profile-logo {
    margin-top: -0.6rem;
    border: 5px solid white;
    border-radius: 5px;
}

/* PLAYER NAME SIZE SHOULD CHANGE 
   IF PROFILE TITLE IS SELECTED */

.navbar .player-profile-name {
    font-size: 70px;
    font-weight: 100;
    font-style: oblique;
    color: white;
    margin-top: -10px;
    letter-spacing: 1px;
    font-family: 'Overwatch', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar .player-profile-title {
    color: #1defef;
    font-style: italic;
    font-weight: 100;
    font-size: 32px;
    margin-top: -12px;
}

.navbar .player-profile-endorsement-level {
    align-self: flex-start;
    margin-top: -8px;
}

.navbar .player-profile_line {
    height: 120%;
    margin: 0 6px;
    width: 0;
    outline: 1px solid #676e85;
}

.navbar .player-profile_level {
    background-image: url("./assets/icons/level_icon.png");
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.8rem;
    font-size: 1.6rem;
    color: #b4c2c7;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-left: 12px;
}


