.overview {
    padding: 3rem;
    display: grid;
    column-gap: 2.5rem;
    row-gap: 0.5rem;
    grid-template-rows: 1fr 21.5fr;
    grid-template-columns: 381px 703px 635px;
}

@media (max-width: 1880px) {
    .overview {
        transform: scale(0.9);
        margin-left: -110px;
    }
}

@media (max-width: 1600px) {
    .overview {
        transform: scale(0.8);
        margin-left: -125px;
    }
}

@media (max-width: 1280px) {
    .overview {
        transform: scale(0.67);
        margin-left: -200px;
        margin-top: -50px;
    }
}


