.current-mode {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;

    grid-template-rows: 31px 218px 1fr;
    row-gap: 15px;
    box-sizing: border-box;

}

.current-mode_title {
    color: #ffffff;
    font-size: 21px;
    align-self: flex-end;
    text-shadow: 1px 1px rgb(135, 135, 135);
}

.overview__current-mode_most-played-heroes {
    display: flex;
    gap: 18px;
}

.overview__current-mode_most-played-heroes-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 33.3%;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;

    background-position: center 110%;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.overview__current-mode_most-played-heroes-card-hero {
    font-size: 17px;
    font-weight: 600;
    color: black;
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    box-shadow: 0px -14px 14px 5px rgb(255, 255, 255)

}

.overview__current-mode_most-played-heroes-card-hours {
    font-size: 22px;
    font-weight: 600;
    color: #ec6516;
    padding-bottom: 8px;
    background-color: #fff;
    width: 100%;
    text-align: center;
}

.overview__current-mode_not-comp {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.overview__current-mode-role-data {
    height: 36px;
    border-radius: 5px;
}

.overview__current-mode-role-cell-layout {
    display: grid;
    grid-template-columns: 0.9fr 1fr 1fr;
    align-items: center;
    height: 100%;
}

.overview__current-mode-role-cell-layout li {
    margin-left: 20px;
    font-weight: 800;
    font-size: 15px;
}

.overview__current-mode-role-cell-layout li:first-child {
     display: flex;
     align-items: center;
}

.overview__current-mode-role-cell-layout li:not(:first-child) {
    text-align: center;
}

.overview__current-mode-role-cell:not(:first-child) {
    color: white;
}

.overview__current-mode-role-cell {
    background-color: #3f4758;
}

.overview__current-mode_not-comp-cell {
    background-color: #fff;
}

.overview__current-mode_not-comp-cell li {
    color: #5e6068;
}

.overview__current-mode-role-logo {
    height: 26px;
}