.current-mode {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;

    grid-template-rows: 31px 218px 1fr;
    row-gap: 15px;
    box-sizing: border-box;

}

.current-mode_title {
    color: #ffffff;
    font-size: 21px;
    align-self: flex-end;
    justify-self: center;
    text-shadow: 1px 1px rgb(135, 135, 135);
}

.overview .current-mode .most-played-heroes {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.overview .current-mode .most-played-heroes-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 33.3%;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;

    background-position: center 110%;
    background-repeat: no-repeat;
}

.overview .current-mode .most-played-heroes-card-hero {
    font-size: 17px;
    font-weight: 600;
    color: black;
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    box-shadow: 0px -14px 14px 5px rgb(255, 255, 255)

}

.overview .current-mode .most-played-heroes-card-hours {
    font-size: 22px;
    font-weight: 600;
    color: #ec6516;
    padding-bottom: 8px;
    background-color: #fff;
    width: 100%;
    text-align: center;
}

/* ROLE STATS */

.overview__current-mode_unranked, .overview__current-mode_ranked {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.overview__current-mode_unranked .role-data, .overview__current-mode_ranked .role-data {
    height: 36px;
    border-radius: 6px;
}

.overview__current-mode_ranked .role-data:not(:first-child) {
    height: 67px;
    border-radius: 5px;
}


.overview__current-mode_unranked .role-cell-layout, .overview__current-mode_ranked .role-cell-layout {
    display: grid;
    align-items: center;
    height: 100%;
}

.overview__current-mode_unranked .role-cell-layout {
    grid-template-columns: 0.9fr 1fr 1fr;
}

.overview__current-mode_ranked .role-cell-layout {
    grid-template-columns: 1.28fr 1fr 1fr 1fr;
}

.overview__current-mode_unranked .role-cell-layout li, .overview__current-mode_ranked .role-cell-layout li {
    margin-left: 13px;
    font-weight: 700;
    font-size: 17px;
    margin-right: -10px;
}

.overview__current-mode_unranked .role-cell-layout li:first-child, .overview__current-mode_ranked .role-cell-layout li:first-child {
     display: flex;
     align-items: center;
}

.overview__current-mode_unranked .role-cell-layout li:not(:first-child), .overview__current-mode_ranked .role-cell-layout li:not(:first-child) {
    text-align: center;
}

.overview__current-mode_unranked .role-cell:not(:first-child), .overview__current-mode_ranked .role-cell:not(:first-child){
    color: white;
}

.overview__current-mode_unranked .role-cell, .overview__current-mode_ranked .role-cell {
    /* background-color: #3f4758; */
    background-image: linear-gradient(to right, #3f4758, #424a5c, #464e60, #495164, #4d5568);
}

.overview__current-mode_unranked .cell, .overview__current-mode_ranked .cell {
    background-color: #fff;
}

.overview__current-mode_unranked .cell li, .overview__current-mode_ranked .cell li {
    color: #5e6068;
}

.overview__current-mode_unranked .role-logo {
    height: 26px;
}

.overview__current-mode_ranked img.rank-logo {
    height: 62px;
    margin-top: -5px;
    filter: brightness(1.15);
    transform: scale(1.1, 1);
}

.overview__current-mode_ranked img.rank-logo-top500 {
    transform: scale(1.4, 1.3);
}

.overview__current-mode_ranked h5.rank-text-top500 {
    /* position: absolute; */
    font-style: italic;
    font-weight: 500;
    top: 20px;
    left: 120px;
    font-size: 18px;
}

.overview__current-mode_ranked img.rank-logo-top500 {
    transform: scale(1.3, 1.2);
}

.overview__current-mode_ranked .role-cell-layout li:has(img.rank-logo-top500) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
}

@media (max-width: 1100px) {
    .current-mode {
        width: 100%;
    }
    .overview .current-mode .most-played-heroes-card {
        background-position: center 0;
        background-size: 120%;
        max-width: 200px;
    }
}

@media (max-width: 1100px) and (min-width: 700px) {
    .overview .current-mode .most-played-heroes-card {
        background-position: center 200%;
        background-size: cover;
    }
}
