.hero-comparison {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 42px 218px;
    /* flex-direction: column; */
    position: relative;
    /* margin-left: -20px; */
}

.hero-comparison_title {
    color: #ffffff;
    font-size: 21px;
    text-shadow: 1px 1px rgb(135, 135, 135);
    margin-bottom: 22px;
}

.hero-comparison-table {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    gap: 6px;
    height: 574px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 4px;
}

.hero-comparison-dropdown {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 40px;
    justify-self: flex-end;
    margin-right: -76px;
}

.hero-comparison-table::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.hero-comparison-table::-webkit-scrollbar-track {
    border-left: 3px solid #a7b6cd;
    border-right: 3px solid #a7b6cd;
    background-color: #9dabc1;
}

.hero-comparison-table::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: #d6dbe3;
    border-radius: 10px;
    transition: background-color 3s;
}


.hero-comparison-table::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}   

.hero-comparison .table-cell {
    background-color: rgba(227, 231, 238, 0.803);
    width: 96%;
    height: 52px;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow-y: hidden;
    margin-left: 10px;

    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    box-sizing: border-box;
}

.hero-comparison .table-cell:hover {
    transform: scale(1.05);
}

.hero-comparison .table-cell .hero-logo {
    height: 117%;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-start;
    z-index: 5;
}

.hero-comparison .table-cell .hero-name {
    z-index: 5;
}

.hero-comparison .table-cell .hero-hours {
    flex-grow: 1;
    justify-self: flex-end;
    text-align: right;
    padding-right: 10px;
    z-index: 5;
}

.hero-comparison .table-cell .cell-fill {
    position: absolute;
    height: 100%;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

@media (max-width: 1100px) {
    .hero-comparison {
        grid-template-rows: 42px 42px 218px;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        width: 75%;
        padding-bottom: 50px;
        /* align-items: center; */
    }
    button.hero-comparison-dropdown, .hero-comparison_title {
        align-self: center;
        margin-left: 0;
        margin-right: 0;
    }
    .hero-comparison_title {
        margin: 10px 0 10px 0;
    }
    
}

